In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import math
color = sns.color_palette()

%matplotlib inline

pd.options.mode.chained_assignment = None
pd.options.display.max_columns = 999

In [4]:
train_df = pd.read_csv("train_2016_v2.csv", parse_dates=["transactiondate"])
train_df.shape

(90275, 3)

In [5]:
prop_df = pd.read_csv("properties_2016.csv")
prop_df.shape

/home/ian/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2985217, 58)

In [6]:
train_df = pd.merge(train_df, prop_df, on='parcelid', how='left')
train_df.head()

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037.0,NaN,2.0,NaN,NaN,NaN,2.0,34280990.0,-118488536.0,7528.0,NaN,NaN,NaN,NaN,NaN,0100,261.0,LARS,6.037107e+07,12447.0,3101.0,31817.0,96370.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1959.0,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,2263.0,2263.0,NaN,NaN,NaN,NaN,6059.0,NaN,3.0,2.0,468.0,NaN,NaN,33668120.0,-117677556.0,3643.0,NaN,NaN,NaN,NaN,NaN,1,261.0,NaN,6.059052e+07,32380.0,1286.0,NaN,96962.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,2014.0,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2016-01-01,1.0,NaN,NaN,3.0,2.0,NaN,4.0,3.0,NaN,NaN,2217.0,2217.0,NaN,NaN,NaN,NaN,6037.0,NaN,3.0,NaN,NaN,NaN,2.0,34136312.0,-118175032.0,11423.0,NaN,NaN,NaN,NaN,NaN,0100,261.0,PSR6,6.037464e+07,47019.0,3101.0,275411.0,96293.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1940.0,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,6.037464e+13
3,12643413,0.0218,2016-01-02,1.0,NaN,NaN,2.0,2.0,NaN,4.0,2.0,NaN,NaN,839.0,839.0,NaN,NaN,NaN,NaN,6037.0,NaN,2.0,NaN,NaN,NaN,2.0,33755800.0,-118309000.0,70859.0,NaN,NaN,NaN,NaN,NaN,010C,266.0,LAR3,6.037296e+07,12447.0,3101.0,54300.0,96222.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1987.0,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,6.037296e+13
4,14432541,-0.0050,2016-01-02,NaN,NaN,NaN,2.5,4.0,NaN,NaN,2.5,NaN,NaN,2283.0,2283.0,NaN,NaN,NaN,NaN,6059.0,NaN,2.0,2.0,598.0,NaN,NaN,33485643.0,-117700234.0,6000.0,1.0,NaN,NaN,NaN,1.0,122,261.0,NaN,6.059042e+07,17686.0,1286.0,NaN,96961.0,8.0,NaN,1.0,NaN,NaN,NaN,NaN,1981.0,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,6.059042e+13

In [5]:
# Let us just impute the missing values with mean values to compute correlation coefficients #
mean_values = train_df.mean(axis=0)
train_df_new = train_df.fillna(mean_values, inplace=True)

# Now let us look at the correlation coefficient of each of these variables #
x_cols = [col for col in train_df_new.columns if col not in ['logerror'] if train_df_new[col].dtype=='float64']

labels = []
values = []
for col in x_cols:
    labels.append(col)
    values.append(np.corrcoef(train_df_new[col].values, train_df_new.logerror.values)[0,1])
corr_df = pd.DataFrame({'col_labels':labels, 'corr_values':values})
corr_df = corr_df.sort_values(by='corr_values')

/home/ian/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:2569: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/home/ian/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:2570: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

In [7]:
corr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 21 to 47
Data columns (total 2 columns):
col_labels     52 non-null object
corr_values    44 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [202]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90275 entries, 0 to 90274
Data columns (total 23 columns):
parcelid                        90275 non-null int64
logerror                        90275 non-null float64
transactiondate                 90275 non-null datetime64[ns]
bathroomcnt                     90275 non-null float64
bedroomcnt                      90275 non-null float64
calculatedbathnbr               90275 non-null float64
calculatedfinishedsquarefeet    90275 non-null float64
finishedsquarefeet12            90275 non-null float64
fullbathcnt                     90275 non-null float64
hashottuborspa                  90275 non-null int64
latitude                        90275 non-null float64
longitude                       90275 non-null float64
poolcnt                         90275 non-null float64
propertycountylandusecode       90275 non-null int64
propertylandusetypeid           90275 non-null int64
rawcensustractandblock          90275 non-null float64
fireplaceflag                   90275 non-null int64
taxdelinquencyflag              90275 non-null int64
6059.0                          90275 non-null float64
6111.0                          90275 non-null float64
2061.0                          90275 non-null uint8
3101.0                          90275 non-null uint8
6815337.017791157               90275 non-null uint8
dtypes: datetime64[ns](1), float64(13), int64(6), uint8(3)
memory usage: 14.7 MB

In [201]:
del train_df['censustractandblock']

In [200]:
train_df['censustractandblock'].value_counts()

6.815337e+06    80125
6.049151e+13      368
6.059063e+13       46
6.059063e+13       39
6.059032e+13       37
6.111007e+13       37
6.059076e+13       31
6.059053e+13       30
6.059063e+13       29
6.059075e+13       29
6.059052e+13       27
6.059063e+13       27
6.059063e+13       27
6.059042e+13       25
6.037544e+13       25
6.059032e+13       24
6.111006e+13       24
6.059074e+13       24
6.059042e+13       23
6.059032e+13       23
6.059032e+13       22
6.059022e+13       22
6.059099e+13       22
6.059063e+13       22
6.059042e+13       22
6.059042e+13       22
6.059032e+13       22
6.059088e+13       22
6.059052e+13       22
6.059074e+13       22
                ...
6.037621e+13        1
6.111001e+13        1
6.059087e+13        1
6.059032e+13        1
6.037481e+13        1
6.037403e+13        1
6.037212e+13        1
6.037126e+13        1
6.059063e+13        1
6.037403e+13        1
6.059053e+13        1
6.037403e+13        1
6.037481e+13        1
6.037671e+13        1
6.037199e+13        1
6.037401e+13        1
6.059042e+13        1
6.059089e+13        1
6.037651e+13        1
6.037124e+13        1
6.111001e+13        1
6.037213e+13        1
6.037901e+13        1
6.059089e+13        1
6.059063e+13        1
6.059053e+13        1
6.059063e+13        1
6.111001e+13        1
6.037310e+13        1
6.059075e+13        1
Name: censustractandblock, dtype: int64

In [36]:
train_df['taxdelinquencyflag'] = train_df['taxdelinquencyflag'].map(lambda x: 1 if x == 'Y' else 0)
train_df['fireplaceflag'] = train_df['fireplaceflag'].map(lambda x: 1 if x == True else 0)
train_df['hashottuborspa'] = train_df['hashottuborspa'].map(lambda x: 1 if x == True else 0)
train_df=pd.concat([train_df, pd.get_dummies(train_df['fips'], drop_first=True)], axis=1)
train_df = train_df.where(train_df['lotsizesquarefeet'] != 29110.164176624025, train_df['lotsizesquarefeet'].mean())
train_df['propertycountylandusecode'] = train_df['propertycountylandusecode'].map(lambda x: 0 if x == 0 else 1)
train_df = train_df.where(train_df['rawcensustractandblock'] != 0, train_df['rawcensustractandblock'].mean())
train_df=pd.concat([train_df, pd.get_dummies(train_df['regionidcounty'], drop_first=True)], axis=1)
train_df['storytypeid'] = train_df['storytypeid'].map(lambda x: 0 if x == 7 else 1)
train_df['assessmentyear'] = train_df['assessmentyear'].map(lambda x: 0 if x == 6815337.0177911567 else 1)

In [8]:
train_y = train_df['logerror'].values
# cat_cols = ["hashottuborspa", "propertycountylandusecode", "propertyzoningdesc", "fireplaceflag", "taxdelinquencyflag"]
cat_cols = []
train_df = train_df.drop(['parcelid', 'logerror', 'transactiondate']+cat_cols, axis=1)

In [25]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

clf = RandomForestRegressor(n_estimators=25)
# clf = clf.fit(train_df, train_y)

scores = cross_val_score(clf, train_df, train_y, scoring='neg_mean_absolute_error')

In [26]:
scores.mean()

-0.070099296838297381

In [20]:
temp_df = pd.read_csv("train_2016_v2.csv", parse_dates=["transactiondate"])
temp2_df = pd.read_csv("properties_2016.csv")
temp_df = pd.merge(temp_df, temp2_df, on='parcelid', how='left')

/home/ian/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)